.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  align-items: center;
  pointer-events: none;
}
.App-header {
  background-color:#243434;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px+2vmin);
}
.App-header h1{
  color:#000000;
  text-align: center;
}
.App-header h3{
  color:orangered;
  text-align: center;
}
.box{
  background-color: #ffffff;
  width: 60vh;
  margin: 10px;
  height: 70vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
